header {
  position: relative;
}
.nav__bar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     margin: 0.5rem 6rem;
     padding: 1rem;
     position: relative;
   }
   .nav__bar .nav__logo {
     font-size: var(--font-logo);
     font-family: var(--font-familys);
   }
   
   .nav__bar .nav__logo h1 {
     text-transform: capitalize;
     font-weight: 200;
     color: var(--color-logos);
   }
   .nav__bar .nav__logo span {
     text-transform: uppercase;
     color: var(--color-logo);
   }
   .nav__links {
     display: flex;
     align-items: center;
     gap: 2rem;
     
   }
   .nav__links li {
     font-size: var(--font-nav);
   }
   .nav__links li a{
    color: var(--color-nav);
    font-weight: 500;
   }
   .nav__links li .home {
     color: var(--color-logos);
   }
   .nav__links li .home::before {
     position: absolute;
     content: "";
     width: 0.3rem;
     top: 3.5rem;
     left: 48.5%;
     border-radius: 50%;
     height: 0.3rem;
     background: var(--color-logos);
   }
   .nav__links .active {
     padding: 1rem 1.3rem;
     margin-left: 3rem;
     color: var(--color-logos);
     border: 1px solid var(--color-logos);
   }
   .menu__btn {
    display: none;
    font-weight: 800;
    color: var(--color-logos);
    border: 0rem;
    padding: 0rem;
    margin: 0rem;
   }
   @media screen and (min-width: 1400px) {
    .nav__links li .home::before {
      left: 53.5%;
    }
    
   }
   @media screen and (max-width: 1024px) {
         .menu__btn {
          display: flex;
          
         }
         .nav__bar {
          margin:0rem 2.5rem;
         


         }
         .nav__links {
          display: none;
         }
       
         .nav__links-mobile {
           padding: 3rem 1rem ;
           position: absolute;
           display: flex;
          
           width: 100vw !important;
           height: auto;
           top: 4.7rem;
           gap: 0rem;
           z-index: 11;
           left: -2.6rem;
           background: var(--color-logo);
           flex-direction: column;
         }
         
         .nav__links-mobile li {
          margin-top: 1.5rem;
          
         }
         .nav__links-mobile li .home {
          color: var(--color-white);
        }
         .nav__links-mobile li a {
          color: var(--color-white);
         }
         .nav__links-mobile li .active {
          margin-left: 0rem;
          position: relative;
          top: 0.5rem;
          color: var(--color-white);
          padding: 1rem 1.3rem;
          border: 1px solid var(--color-logos);

        }
        .nav__links-mobile li .home::before {
          position: absolute;
          content: "";
          width: 0rem;
          top: 0rem;
          border-radius: 50%;
          background: none;
        }
    
   }
   @media screen and (max-width: 600px) {
    .nav__bar {
      margin: 1rem 1rem;
      padding: 0rem;
      display: flex;
      align-items: center;
    }
    .nav__links-mobile {
      width: 100vw !important;
      left: -1rem !important;
      margin-right: 0rem;
    
  }
  .nav__links-mobile li {
     display: flex;
     justify-content: center;
     align-items: center;
    
   }
   }
   @media screen and (width: 280px) {
    .nav__links-mobile {
      left: -1rem !important;
      top: 3rem;
      
     
    
  }
      
   }

     
   

   