

.section__grid {
     display: flex;
     justify-content: center;
     gap: 4rem;
     align-items: center;
   
}
.section__content {
     font-style: normal;
}
.section__content h2  {
     font-size: var(--font-header);
     color: var(--color-black2);
     letter-spacing: 1px;
     font-weight: 700;
     line-height: 25px;
}
.section__content h2 .span1 {
    color: var(--color-blue);
}
.section__content h2 .span2 {
    color: var(--color-logos);
}
.section__content p {
    color: var(--color-black2);
    font-size: var(--font-small);
    font-weight: 600;
    line-height: 18px;
    margin-top: 1rem;
}
.section__content .book {
     display: flex;
     border-bottom: 1px solid var(--color-logos);
     width: 10rem;
     padding: 0.5rem 0rem;
     text-align: center;
     color: var(--color-logos);
     font-size: var(--font-book);
     align-items: center;
     margin-top: 1rem;
     font-weight: 600;
     gap: 0.5rem;
}
.section__content .book span {
    font-size: var(--font-smallz);
    display: flex;
    font-weight: 600;
    align-items: center;
}
.section__image {
     /* border: 2px solid blue; */
}
.section__image .div {
     width: 100%;
}
.section__image .div img {
     width: 100%;
     display: flex;
     object-fit: cover;
}
.head__count {
     display: flex;
     margin-top: 2rem;
     background: var(--color-white);
     gap: 4rem;
     align-items: center;
     justify-content: center;
}
.count {
     text-align: center;
}
.count h3 {
     font-size: var(--font-header);
     font-weight: 700;
     color: var(--color-black);
}
.count small {
     color: var(--color-grey);
     font-size: var(--font-small);
}
@media screen and (max-width: 600px) {
     .head__count {
          gap: 2rem;
          
     }
     .count small {
          color: var(--color-grey);
          font-size: 3px;
          text-align: center;
          margin-top: 1rem;
          line-height: 0rem;
     }
     .count h3 {
          font-size: var(--font-small);
          font-weight: 700;
          color: var(--color-black);
     }
     
}
@media screen and (width: 280px) {
     .section__content h2 {
          font-size: var(--font-fold);
         
      }
      .head__count {
          gap: 1rem;
          
     }
     
}